<mat-toolbar>
    <h3>Login</h3>
</mat-toolbar>
<br>
<div class="form">
    <a href="#" routerLink="/authentication" mat-raised-button color="primary">Sign up</a>
    <br><br>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="username123" formControlName="username" required>
            <mat-error *ngIf="checkError('username', 'required')">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Login</button>
    </form>
    <br>
    <div *ngIf="!isError;else exp"></div>
    <ng-template #exp>
        <mat-form-field appearance="outline" style="max-width: 250px;">
            <mat-label>Exception</mat-label>
            <input matInput readonly [(ngModel)]="error" name="error"> 
        </mat-form-field>
    </ng-template>
</div>

