<mat-toolbar>
    <h3>Create Activity</h3>
</mat-toolbar>
<br>
  <a href="#" routerLink="/activities/list/" mat-raised-button color="primary">Back to Activities List</a>
<br><br>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Activity" formControlName="name">
        <mat-error *ngIf="checkError('name', 'required')">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Start</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year"></mat-datepicker>
        <mat-error *ngIf="checkError('start', 'required')">Start is required</mat-error>
    </mat-form-field> 
    <mat-form-field appearance="outline">
        <mat-label>Finish</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="finish">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year"></mat-datepicker>
        <mat-error *ngIf="checkError('finish', 'finish')">Finish is required</mat-error>
    </mat-form-field> 
    <div formArrayName="exercisesWithReps">
      <div class="mat-table" class="mat-elevation-z8">
        <div class="mat-header-row">
          <div class="mat-header-cell">Name</div>
          <div class="mat-header-cell">Calories Spent</div>
          <div class="mat-header-cell">Number Of Repetitions</div>
          <div class="mat-header-cell">Number Of Sets</div>
        </div>
        <div *ngFor="let row of formGroup.controls.exercisesWithReps.controls; let i = index" class="mat-row">
          <div [formGroupName]="i" style="display: flex;">
            <div class="mat-cell"><input matInput formControlName="name" readonly> {{row.name}} </div>
            <div class="mat-cell"><input matInput formControlName="caloriesSpent" readonly> {{row.calories}} </div>
            <div class="mat-cell"><input matInput type="number" formControlName="numberOfRepetitions"> {{row.numberOfRepetitions}} </div>
            <div class="mat-cell"><input matInput type="number" formControlName="numberOfSets"> {{row.numberOfSets}} </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Create</button>
</form>
