<mat-toolbar>
  <h3>Edit Recipe</h3>
</mat-toolbar>
<br>
<div style="display: flex; justify-content: center">
  <div>
    <a href="#" routerLink="/recipes/list/" mat-raised-button color="primary">Back to Recipes List</a>
  <br><br>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <mat-form-field appearance="outline" class="formField">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Eating" formControlName="name">
        <mat-error *ngIf="checkError('name', 'required')">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="formField">
      <mat-label>Instruction</mat-label>
      <input matInput placeholder="Recipe" formControlName="instruction">
      <mat-error *ngIf="checkError('instruction', 'required')">Instruction is required</mat-error>
  </mat-form-field>
    <div formArrayName="ingredientsWithGrams">
      <div *ngIf="!visible;else formTable">
        <mat-form-field appearance="outline" class="formField">
          <mat-label>Add Some Ingredients From Table</mat-label>
          <input matInput readonly>
        </mat-form-field>
      </div>
      <ng-template #formTable>
        <table mat-table [dataSource] ="dataSourceForForm" class="mat-elevation-z8 formField">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"> <input matInput formControlName="name" readonly> </td>
          </ng-container>
          <ng-container matColumnDef="calories">
            <th mat-header-cell *matHeaderCellDef> Calories </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"> <input matInput formControlName="calories" readonly> </td>
          </ng-container>
          <ng-container matColumnDef="grams">
            <th mat-header-cell *matHeaderCellDef> Grams </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i"> <input matInput type="number" formControlName="grams"> </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element" >
              <button type="button" (click)="deleteExercise(element.name)" mat-raised-button color="warn">Delete</button> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsForForm"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForForm;"></tr>
        </table>
        <br>
      </ng-template>
    </div>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Update</button>
  </form>
  </div>
  <br>
  <div class="formField">
    <mat-form-field appearance="outline">
      <mat-label>Name of Ingredient</mat-label>
      <input matInput placeholder="Name" name="searchName" [(ngModel)]="searchName">
  </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterData()">Search</button>
    <br><br>
    <div *ngIf="loading;else table"></div>
    <ng-template #table>
    <table mat-table [dataSource] ="dataSource" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> <input matInput readonly> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef> Calories </th>
        <td mat-cell *matCellDef="let element"> <input matInput readonly> {{element.calories}} </td>
      </ng-container>
      <ng-container matColumnDef="proteins">
        <th mat-header-cell *matHeaderCellDef> Proteins </th>
        <td mat-cell *matCellDef="let element"> <input matInput readonly> {{element.proteins}} </td>
      </ng-container>
      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef> Fats </th>
        <td mat-cell *matCellDef="let element"> <input matInput readonly> {{element.fats}} </td>
      </ng-container>
      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef> Carbohydrates </th>
        <td mat-cell *matCellDef="let element"> <input matInput readonly> {{element.carbohydrates}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" >
          <button type="button" (click)="addIngredient(element.name, element.id)" mat-raised-button color="primary">Add</button> 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </ng-template>
    <mat-paginator (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
