<mat-toolbar>
    <h3>Edit Profile</h3>
</mat-toolbar>
<br>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input type="number" matInput placeholder="from 35 to 350" formControlName="weight">
        <mat-error *ngIf="checkError('weight', 'required')">Weight is required</mat-error>
        <mat-error *ngIf="checkError('weight', 'min')">Weight must be greater than 35</mat-error>
        <mat-error *ngIf="checkError('weight', 'max')">Weight must be less than 350</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>
        <input type="number" matInput placeholder="from 120 to 250" formControlName="height">
        <mat-error *ngIf="checkError('height', 'required')">Height is required</mat-error>
        <mat-error *ngIf="checkError('height', 'min')">Height must be greater than 120</mat-error>
        <mat-error *ngIf="checkError('height', 'max')">Height must be less than 250</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Select a gender</mat-label>
        <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="checkError('gender', 'required')">Gender is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
        <mat-error *ngIf="checkError('dateOfBirth', 'required')">Birth Date is required</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Submit</button>
</form>
