<mat-toolbar>
    <h3>Edit Ingredient</h3>
</mat-toolbar>
<br>
<div class="form">
    <a href="#" routerLink="/ingredients/list/" mat-raised-button color="primary">Back to Ingredients List</a>
    <br><br>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ingredient" formControlName="name">
            <mat-error *ngIf="checkError('name', 'required')">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Calories</mat-label>
            <input type="number" matInput placeholder="from 0.01 to 500" formControlName="calories">
            <mat-error *ngIf="checkError('calories', 'required')">Calories is required</mat-error>
            <mat-error *ngIf="checkError('calories', 'min')">Calories must be greater than 0.01</mat-error>
            <mat-error *ngIf="checkError('calories', 'max')">Calories must be less than 500</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Proteins</mat-label>
            <input type="number" matInput placeholder="from 0.01 to 150" formControlName="proteins">
            <mat-error *ngIf="checkError('proteins', 'required')">Proteins is required</mat-error>
            <mat-error *ngIf="checkError('proteins', 'min')">Proteins must be greater than 0.01</mat-error>
            <mat-error *ngIf="checkError('proteins', 'max')">Proteins must be less than 150</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fats</mat-label>
            <input type="number" matInput placeholder="from 0.01 to 150" formControlName="fats">
            <mat-error *ngIf="checkError('fats', 'required')">Fats is required</mat-error>
            <mat-error *ngIf="checkError('fats', 'min')">Fats must be greater than 0.01</mat-error>
            <mat-error *ngIf="checkError('fats', 'max')">Fats must be less than 150</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Carbohydrates</mat-label>
            <input type="number" matInput placeholder="from 0.01 to 150" formControlName="carbohydrates">
            <mat-error *ngIf="checkError('carbohydrates', 'required')">Carbohydrates is required</mat-error>
            <mat-error *ngIf="checkError('carbohydrates', 'min')">Carbohydrates must be greater than 0.01</mat-error>
            <mat-error *ngIf="checkError('carbohydrates', 'max')">Carbohydrates must be less than 150</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!editForm.valid" type="submit">Update</button>
    </form>
</div>
